<div class="container">
	<!-- A simple media object demonstrating angular directives -->
	<!--
	<div class="row row-content" ng-init="dish = 
										   { 
										   name:'Uthapizza',
										   image: 'images/uthapizza.png',
										   category: 'mains', label:'Hot',
										   price:'4.99',
										   description:'A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.',
										   comment: ''
										   }">
		<div class="col-xs-12">
			<div class="media">
				<div class="media-left media-middle">
					<a href="#">
						<img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
					</a>
				</div>
				<div class="media-body">
					<h2 class="media-heading">{{dish.name}}
						<span class="label label-danger">{{dish.label}}</span>
						<span class="badge">{{dish.price | currency}}</span>
					</h2>
					<p>{{dish.description}}</p>
					<p>Comment: {{dish.comment}}</p>
					<p>
						Type your comment:
						<input type="text" ng-model="dish.comment">
					</p>
				</div>
			</div>
		</div>
	</div>
	-->

	<!-- Specifying array of dishes for media-list (hard-coded) -->
	<!--
	<div class="row row-content" ng-init="dishes=[
										{
											name:'Uthapizza',
											image: 'images/uthapizza.png',
											category: 'mains',
											label:'Hot',
											price:'4.99',
											description:'A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.',
											comment: ''
										},
										{
											name:'Zucchipakoda',
											image: 'images/zucchipakoda.png',
											category: 'appetizer',
											label:'',
											price:'1.99',
											description:'Deep fried Zucchini coated with mildly spiced Chickpea flour batter accompanied with a sweet-tangy tamarind sauce',
											comment: ''
										},
										{
											name:'Vadonut',
											image: 'images/vadonut.png',
											category: 'appetizer',
											label:'New',
											price:'1.99',
											description:'A quintessential ConFusion experience, is it a vada or is it a donut?',
											comment: ''
										},
										{
											name:'ElaiCheese Cake',
											image: 'images/elaicheesecake.png',
											category: 'dessert',
											label:'',
											price:'2.99',
											description:'A delectable, semi-sweet New York Style Cheese Cake, with Graham cracker crust and spiced with Indian cardamoms',
											comment: ''
										}]">
	-->

	<div class="row row-content" ng-controller="MenuController">
		<div class="col-xs-12" ng-if="!showMenu">
			<h3>{{message}}</h3>
		</div>
		<div class="col-xs-12" ng-if="showMenu">
			<button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">
				{{showDetails ? 'Hide Details':'Show Details'}}
			</button>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" ng-class={active:isSelected(1)}>
					<a aria-controls="all menu" role="tab" ng-click="select(1)">The Menu</a>
				</li>
				<li role="presentation" ng-class={active:isSelected(2)}>
					<a aria-controls="appetizers" role="tab" ng-click="select(2)">Appetizers</a>
				</li>
				<li role="presentation" ng-class={active:isSelected(3)}>
					<a aria-controls="mains" role="tab" ng-click="select(3)">Mains</a>
				</li>
				<li role="presentation" ng-class={active:isSelected(4)}>
					<a aria-controls="desserts" role="tab" ng-click="select(4)">Desserts</a>
				</li>
			</ul>
			<div class="tab-content">
				<ul class="media-list tab-pane fade in active">
					<li class="media" ng-repeat="dish in dishes | filter:filtText">
						<div class="media-left media-middle">
							<div class="media-left media-middle">
								<a ui-sref="app.dishdetails({id: dish.id})">
									<img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
								</a>
							</div>
						</div>
						<div class="media-body">
							<h2 class="media-heading">{{dish.name}}
								<span class="label label-danger">{{dish.label}}</span>
								<span class="badge">{{dish.price | currency}}</span>
							</h2>
							<p ng-show="showDetails">
								{{dish.description}}
							</p>
							<!--
							<p>Comment: {{dish.comment}}</p>
							<p>
								Type your comment:
								<input type="text" ng-model="dish.comment">
							</p>
							-->
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>